<link rel="stylesheet" href="/css/user/account/addAddress.css">

<form id="addressForm" class="row g-3 main-card mt-4" novalidate>
  <div class="col-md-6">
    <label class="form-label">Full Name<span style="color: red;">*</span></label>
    <input id="fullName" class="form-control" placeholder="Enter your full name">
    <div class="error" id="fullNameError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">Email<span style="color: red;">*</span></label>
    <input id="email" class="form-control" placeholder="Enter your email">
    <div class="error" id="emailError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">Phone Number<span style="color: red;">*</span></label>
    <input id="phone" class="form-control" placeholder="Enter your phone number">
    <div class="error" id="phoneError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">Address Label<span style="color: red;">*</span></label>
    <input id="label" class="form-control" placeholder="Home, Office, etc.">
    <div class="error" id="labelError"></div>
  </div>
  <div class="col-12">
    <label class="form-label">Street Address<span style="color: red;">*</span></label>
    <input id="street" class="form-control" placeholder="Street address">
    <div class="error" id="streetError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">Landmark<span style="color: red;">*</span></label>
    <input id="landmark" class="form-control" placeholder="Landmark">
    <div class="error" id="landmarkError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">City<span style="color: red;">*</span></label>
    <input id="city" class="form-control" placeholder="City">
    <div class="error" id="cityError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">District<span style="color: red;">*</span></label>
    <input id="district" class="form-control" placeholder="District">
    <div class="error" id="districtError"></div>
  </div>
  <div class="col-md-6">
    <label class="form-label">State/Province<span style="color: red;">*</span></label>
    <input id="state" class="form-control" placeholder="State/Province">
    <div class="error" id="stateError"></div>
  </div>

  <div class="col-md-6">
    <label class="form-label">ZIP/Postal Code<span style="color: red;">*</span></label>
    <input id="zip" class="form-control" placeholder="ZIP/Postal Code">
    <div class="error" id="zipError"></div>
  </div>
  <input id="userId" type="hidden" value="{{user._id}}">
  <div class="col-md-6 d-flex align-items-end justify-content-end">
    <button type="button" class="btn btn-outline-dark me-2" id="cancelBtn">Cancel</button>
    <button type="submit" class="btn btn-dark">Save Address</button>
  </div>
</form>

<!-- ==========================
       CUSTOM ERROR SWAL 
     ==========================-->
<div id="customSwalError" class="custom-swal-backdrop">
  <div class="custom-swal-box error">
    <h3 id="customSwalErrorTitle">Error</h3>
    <p id="customSwalErrorText">Something went wrong.</p>
    <button id="customSwalErrorBtn" class="error-btn">OK</button>
  </div>
</div>


<script src="/js/user/account/addAddress.js"></script>