<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/common/bootstrap.min.css">
  <!-- Bootstrap 5 CSS -->
  <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">

  <title>{{title}}</title>

  <style>
    .page-title {
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 18px;
      margin-top: 38px;
    }
  </style>
</head>

<body>
  {{> navbar}}
  <main class="container-lg mt-4 mb-5">

    <div class="d-flex align-items-center justify-content-between mb-3">
      <button id="mobileBackBtn" class="btn btn-sm d-md-none" style="display:none"><i
          class="bi bi-arrow-left"></i></button>
      <h2 class="page-title">My Account</h2>
    </div>

    <div class="row g-4">

      <!-- sidebar -->
      {{> userAccountSidebar}}

      <div class="col-lg-9">

        {{{body}}}

      </div>

    </div>

  </main>



  {{> footer}}


  <!-- GSAP & ScrollTrigger -->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js" defer></script>


  <!-- Bootstrap JS -->
  <script src="/common/bootstrap.bundle.min.js" defer></script>

  <!-- axios -->
  <script src="/common/axios.min.js" defer></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>